#root {
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
  width: 100%;
  min-height: 100vh; /* Ensure the element fills the viewport height */
  overflow-x: hidden; /* Hide horizontal overflow */
  position: relative; /* Ensure child elements position themselves relative to this container */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}
