.container {
  background-color: rgb(44, 41, 41);
  margin: 0 auto;
  display: flex;
  justify-content: center; /* Center align content horizontally */
  padding-top: 25px;
  padding-bottom: 38px;
  background: url("https://statics.myclickfunnels.com/image/1839924/file/e6aab42024a3a149f7bc630b8ce2382b.jpg")
    rgb(0, 0, 0);
}

.content {
  width: 50%; /* Adjust width as needed for responsiveness */
  max-width: 812px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align content vertically */
}

.discover {
  font-family: "Taviraj", serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 48.24px;
  color: rgb(255, 255, 255);
}

.join {
  font-family: "Taviraj", serif;
  font-weight: 500;
  padding-bottom: 24px;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.Hypnosis {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 24px;
  color: rgb(255, 255, 255);
  padding-bottom: 14px;
  margin-bottom: 24px;
  font-style: italic;
}
.freedom {
  font-family: "Taviraj", serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 52px;
  color: rgb(255, 255, 255);
}
.cancellation {
  font-family: "Taviraj", serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.monthly {
  font-family: "Taviraj", serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 21px;
  color: rgb(255, 255, 255);
  padding: 5px 0;
}

.free_trial {
  font-family: "Taviraj", serif;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 21px;
  color: rgb(255, 255, 255);
  font-style: italic;
  padding: 5px 0 25px 0;
}
.pay {
  color: rgb(124, 124, 124);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  font-size: 15px;
  /* margin-bottom: 100px; */
}

.foot {
  color: rgb(124, 124, 124);
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  font-size: 11px;
  padding: 5px 0 40px 0;
  width: 72%;
}

.fa-lock::before {
  content: "\f023";
  color: rgb(124, 124, 124);
  margin-right: 10px;
}
.elImage2 {
  width: 75%; /* Set initial width to fill its container */
  height: auto; /* Maintain aspect ratio */
}

@media only screen and (max-width: 480px) {
  .container {
    background-color: rgb(44, 41, 41);
    margin: 64px auto;
    padding: 44px 0;
  
  }

  .pricing-section {
    max-width: 90%; /* Set maximum width to 100% for smaller screens */
  }
  /* Mobile devices */
  .discover {
    font-size: 28px;
  }
  .join {
    font-size: 10px;
  }
  .Hypnosis {
    font-size: 14px;
  }
  .freedom {
    font-size: 32px;
  }
  .content {
    /* Adjust width as needed for responsiveness */
    width: 92%;
  }
  .cancellation {
    font-size: 20px;
  }
  .monthly {
    font-size: 15px;
  }
  .free_trial {
    font-size: 15px;
  }
  .pay {
    font-size: 10px;
  }
  .foot {
    font-size: 9px;
    width: 90%;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .pricing-section {
    max-width: 90%; /* Set maximum width to 100% for smaller screens */
  }
  /* Mobile devices */
  .discover {
    font-size: 32px;
  }
  .join {
    font-size: 12px;
  }
  .Hypnosis {
    font-size: 16px;
  }
  .freedom {
    font-size: 36px;
  }
  .content {
    width: 90%;
  }
  .cancellation {
    font-size: 22px;
  }
  .monthly {
    font-size: 16px;
  }
  .free_trial {
    font-size: 16px;
  }
  .pay {
    font-size: 11px;
  }
  .foot {
    font-size: 9px;
    width: 88%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .pricing-section {
    max-width: 90%; /* Set maximum width to 100% for smaller screens */
  }
  /* Tablets */
  .discover {
    font-size: 36px;
  }
  .join {
    font-size: 14px;
  }
  .Hypnosis {
    font-size: 18px;
  }
  .freedom {
    font-size: 40px;
  }
  .content {
    width: 80%;
  }
  .cancellation {
    font-size: 24px;
  }
  .monthly {
    font-size: 17px;
  }
  .free_trial {
    font-size: 17px;
  }
  .pay {
    font-size: 12px;
  }
  .foot {
    font-size: 9px;
    width: 86%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /* Large tablets and small desktops */
  .discover {
    font-size: 40px;
  }
  .join {
    font-size: 16px;
  }
  .Hypnosis {
    font-size: 20px;
  }
  .freedom {
    font-size: 44px;
  }
  .content {
    width: 70%;
  }
  .cancellation {
    font-size: 26px;
  }
  .monthly {
    font-size: 19px;
  }
  .free_trial {
    font-size: 19px;
  }
  .pay {
    font-size: 13px;
  }
  .foot {
    font-size: 9px;
    width: 82%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  /* Desktops */
  .discover {
    font-size: 42px;
  }
  .join {
    font-size: 18px;
  }
  .Hypnosis {
    font-size: 22px;
  }
  .freedom {
    font-size: 48px;
  }
  .content {
    width: 60%;
  }
  .cancellation {
    font-size: 28px;
  }
  .monthly {
    font-size: 20px;
  }
  .free_trial {
    font-size: 20px;
  }
  .pay {
    font-size: 14px;
  }
  .foot {
    font-size: 10px;
    width: 78%;
  }
}
