@keyframes scrollleftrocking-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollleftrocking-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.society-details-container {
  display: flex;
  background: url("https://statics.myclickfunnels.com/image/1749361/file/2c6917f8a2744bf28c3dc76d19764aab.jpg")
    rgb(0, 0, 0);
  flex-direction: column;
  align-items: center;
}
.card-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  h1 {
    font-family: "Taviraj", serif;
    font-weight: 500;
    text-align: center;
    line-height: 100%;
    letter-spacing: 0.02rem;
    font-size: 38px;
    margin: 0 12px;
    color: rgb(255, 255, 255);
  }
}

.custom-button {
  position: relative;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  border-style: none;
  border-radius: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.23);
  background: linear-gradient(90deg, rgb(117, 43, 33) 5%, rgb(159, 64, 64) 99%);
  border-color: #123acb;
  border-width: 1px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 0;
  line-height: 125%;
  font-family: "Barlow Semi Condensed", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
  max-width: 906px;
  animation: scrollleftrocking-up 2s infinite alternate ease-in-out,
    scrollleftrocking-down 2s infinite alternate ease-in-out;
}
.details-list {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;

  li {
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 150%;
    /* margin-left: -25px; */

    display: flex;
    /* align-items: center; */
    margin-top: 10px;
    text-align: left;
    column-gap: 8px;
  }
}
/* .joined_card {
  margin-bottom: 10px;
} */
.joined-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}
.top-container {
  max-width: 582px;
  width: 100%;
  border-radius: 18px;
  padding-bottom: 12px;
  margin-top: 40px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background: linear-gradient(
    90deg,
    rgb(41, 41, 41) 4%,
    rgb(31, 31, 31) 51%,
    rgb(27, 27, 27) 97%
  );
}
.top-container h1 {
  font-family: "Taviraj", serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 41px;
  color: rgb(255, 255, 255);
}
.top-container p {
  font-family: "Taviraj", serif;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.inner-container {
  width:fit-content;
}
.bottom-container {
  width: 582px;

  border-radius: 18px;
  padding-bottom: 12px;
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    90deg,
    rgb(60, 60, 60) 5%,
    rgb(59, 59, 59) 51%,
    rgb(65, 65, 65) 93%
  );
  img {
    border-radius: 400px;
    aspect-ratio: auto;
    width: 143px;

    margin-right: 20px;
    box-shadow: 0px 0px 20px 3px rgb(28, 28, 28);
    margin-top: 15px;
  }
  span {
    display: block;
    padding-top: 10px;
    font-family: "Taviraj", serif;
    font-weight: 500;
    /* line-height: 100%; */
    letter-spacing: 0.02rem;
    font-size: 41px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .name {
    font-family: "Taviraj", serif;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
  }
}
.money-back-card {
  margin-top: 50px;
}
.title {
  margin-top: 15px;
  font-family: "Taviraj", serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 26.4px;
  color: rgb(255, 255, 255);
}
.description {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  font-size: 15.84px;
  color: rgb(255, 255, 255);
  padding: 17px;
}

.faq {
  width: 100%;
  max-width: 582px;
  border-radius: 18px;
  padding-bottom: 12px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  margin-bottom: 20px;

  background: linear-gradient(
    90deg,
    rgb(41, 41, 41) 4%,
    rgb(31, 31, 31) 51%,
    rgb(27, 27, 27) 97%
  );
  p {
    font-family: "Taviraj", serif;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: left;
    margin: 0 !important;
    padding: 0 !important;
  }
}
.heading {
  font-family: "Taviraj", serif;
  max-width: 345.9px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 40.99px;
  color: rgb(255, 255, 255);
}
.getting {
  font-family: "Taviraj", serif;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02rem;
  font-size: 40.99px;
  color: rgb(255, 255, 255);
  text-align: left;
  margin-top: 25px;
}

@media only screen and (max-width: 480px) {
  /* Mobile devices */
  .custom-button {
    width: 80%;
    font-size: 16px;
  }
  .card-container {
    margin: 0 20px;
    h1 {
      font-size: 20px;
      margin: 0 12px;
    }
  }
  .details-list {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;

    li {
      font-size: 12px;
      margin-left: -25px;
    }
  }
  .top-container {
    /* width: 55%; */
    width: 90%;
    margin: 0 20px;
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 12px;
    }
  }
  .bottom-container {
    width: 90%;
    margin: 0 20px;
    img {
      width: 70px;
    }
    span {
      font-size: 26px;
    }
  }
  .name {
    font-size: 20px;
  }
  .money-back-card {
    padding: 0 20px;
    img {
      height: 75px;
      width: 75px;
    }
    .title {
      font-size: 22px;
    }
    .description {
      font-size: 11.84px;
    }
  }
  .faq {
    width: 85%;

    padding: 15px; /* Adjust padding for smaller screens */
    margin: 0 20px;
    margin-bottom: 20px;
  }
  .heading {
    font-size: 32px;
  }
  .getting {
    font-size: 32px;
  }
  .faq p {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* Mobile devices */
  .custom-button {
    width: 80%;
    font-size: 20px;
  }
  .card-container {
    margin: 0 20px;
    h1 {
      font-size: 24px;
      margin: 0 12px;
    }
  }
  .details-list {
    width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;

    li {
      font-size: 14px;
      margin-left: -25px;
    }
  }
  .top-container {
    width: 90%;
    h1 {
      font-size: 29px;
    }
    p {
      font-size: 13px;
    }
  }
  .bottom-container {
    width: 90%;
    margin: 0 20px;
    img {
      width: 70px;
    }
    span {
      font-size: 28px;
    }
  }
  .name {
    font-size: 22px;
  }
  .money-back-card {
    padding: 0 20px;
    img {
      height: 100px;
      width: 100px;
    }
    .title {
      font-size: 24px;
    }
    .description {
      font-size: 13.84px;
    }
  }
  .faq {
    width: 88%;

    padding: 15px; /* Adjust padding for smaller screens */
    margin: 0 20px;
    margin-bottom: 20px;
  }
  .heading {
    font-size: 34px;
  }
  .getting {
    font-size: 34px;
  }
  .faq p {
    font-size: 15px; /* Decrease font size for smaller screens */
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  /* Tablets */
  .top-container {
    /* width: 70%; */

    h1 {
      font-size: 32px;
    }
    p {
      font-size: 14px;
    }
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1199px) {
  /* Large tablets and small desktops */
  .top-container {
    /* width: 80%; */

    h1 {
      font-size: 35px;
    }
    p {
      font-size: 15px;
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  /* Desktops */
  .top-container {
    /* width: 90%; */

    h1 {
      font-size: 38px;
    }
    p {
      font-size: 16px;
    }
  }
}
